nav a {
    margin-right: 40px;
}
.jumbotron {
    margin-top: 20px;
    background: #FBFBFB;
}

.jumbotron a {
    color: inherit;
}

.jumbotron .main-logo {
    margin-bottom: 30px;
}

.card-title {
    background: #B5DA22;
    padding: 10px;
}

.card-conheca img {
    margin-bottom: 20px;
}

.card-conheca {
    margin-bottom: 20px;
}

.container {
    margin-bottom: 20px;
}
